<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <style>
        .center {
          margin-left: auto;
          margin-right: auto;
        }

    </style>
</head>
<body>
<div class="row">
    <div class="col-md-2">
        <h1 th:text="${word}"></h1>

        <div class="row" style="margin-left:1%">
            <th:block th:if="${hangman.lifeCount>0}" th:each="i: ${#numbers.sequence(1, hangman.lifeCount)}">
                <h2 style="margin-left:1%"><i class="bi bi-suit-heart-fill" style="color:red"></i></h2>
            </th:block>
            <th:block th:if="${hangman.MAX_LIFE - hangman.lifeCount>0}"
                      th:each="i: ${#numbers.sequence(1, hangman.MAX_LIFE - hangman.lifeCount)}">
                <h2 style="margin-left:1%"><i class="bi bi-suit-heart-fill" style="color:grey"></i></h2>
            </th:block>
        </div>
    </div>
    <div class="col-md-8" style="text-align:center;">

        <div th:if="${hangman!=null && hangman.endGame}" style="text-align:center; margin-top:1%">

            <div th:if="${hangman.win}" class="alert alert-success alert-dismissible">
                <h4 class="success">Congratulations! You Win!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div th:if="${!hangman.win}" class="alert alert-danger alert-dismissible">
                <h4 class="error"
                    th:text="${'You lose! Correct words : '+ hangman.word +'. Try again with new game!'}"></h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div th:if="${error!=null}" style="text-align:center; margin-top:1%"
             class="alert alert-danger alert-dismissible">
            <h4 class="error" th:text="${error}">Error message</h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div style="display: flex;justify-content: center;margin-top:1%;">
            <table th:if="${hangman!=null}" style="margin-top:1%;margin: 0 auto;text-align:center"
                   class="center" th:width="${50*hangman.wordLetters.size + 'px'}">
                <tr>
                    <td th:each="letter : ${hangman.wordLetters}" style="text-align:center;width:50px;">
                        <h1 style="margin-left:1%;text-align:center;display:inline; align-self: center;"><span
                                class="badge badge-secondary"
                                th:text="${letter}"></span></h1>
                    </td>
                </tr>
            </table>
        </div>

        <hr class="rounded">

        <form th:action="@{/hangman/check}" th:method="post" style="margin-top:1%"
              th:if="${hangman!=null && !hangman.endGame}">
            <input oninput="this.value = this.value.toUpperCase()" type="text" name="letter" maxlength="1" minlength="1"
                   placeholder="Letter" autofocus="autofocus">
            <button type="submit" class="btn btn-primary">Check</button>
        </form>

        <hr class="rounded">

        <th:block th:if="${hangman.definition.size>0}">
            <h2>Hints</h2>
            <div class="row" th:each="def : ${hangman.definition}">
                <span th:text="${def}" style="width:100%;border: none;outline: none;overflow:hidden"/>
            </div>
        </th:block>

        <hr class="rounded">

        <h1>Checked Letters </h1>

        <div style="display: flex;justify-content: center;margin-top:1%">
            <table th:if="${hangman!=null}" style="margin-top:1%;margin: 0 auto;text-align:center"
                   class="center" th:width="${50*hangman.checkedLetters.size + 'px'}">
                <tr>
                    <td th:each="letter : ${hangman.checkedLetters}" style="text-align:center;width:50px;">
                        <h1 style="margin-left:1%;text-align:center;display:inline; align-self: center;"><span
                                class="badge badge-secondary"
                                th:text="${letter}"></span></h1>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-md-2" style="text-align:center">
        <form th:action="@{/hangman/new-game}" th:method="get" style="margin-top:1%">
            <button type="submit" class="btn btn-warning">New Game</button>
        </form>
    </div>
</div>

</body>
</html>